@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">Wellcome to Azure App Service && Github Actions</a>.</p>
</div>
<div class="display-4">
    <p>
        @inject IConfiguration Configuration
        <h3>@Configuration["conn"]</h3>
    </p>
</div>
